
    body{
        background: radial-gradient(circle, #000000, #0b1020);
    }
    .navbar{
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: #090e24;
        padding: 30px;
        border-radius: 8px;
        margin-bottom: 10px;
        background: linear-gradient(to bottom, #141743, #080e25);
    }

    .takumi {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 12px;
        margin-left: 0;
        order: -1;
        object-fit: cover;
    }
    .nav-title {
        color: white;
        margin-left: 90px;
        font-size: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .nav-button {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        gap: 10px;
    }
    .nav-button a {
        color: white;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .aboutme{
        padding-left: 80px;
        max-width: 590px;
        text-align: justify;
        text-justify: inter-word;

    }
    .aboutme h2{
        margin-top: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: azure;
    }

    .aboutme p1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: azure;
    }

    .university{
        font-weight: bold;
    }

    .bio{
        font-size: 17px;
    }
    .my-picture {
        margin-top: 60px;
        position: relative;
        width: 400px;
        height: 400px;
        margin-right: 120px;
    }

    .my-picture img {
        position: absolute;
        top: 0;
        left: 10px;
        margin-top: 15px;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20%;
    }


    .picture-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border:#090e24 solid 8px;
        border-radius: 20%;
        z-index: -1;
    }
    .name {
        font-weight: bold;
        color: azure;
        font-size: 50px;
    }
    .introduction-row{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .image-placeholder {
        display: flex;        /* Center the text inside the box */
        align-items: center;
        margin: 30px;
        justify-content: center;
    }
    .projects-row h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: azure;
        margin-bottom: -5px;
    }
    .projects-row{
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects-container{
        width: 100%;         /* Set your desired width */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: -30px;

    }

    .project-image {
        width: 110%;
        height: 250px;
        border-radius: 6px;
    }

    .image-placeholder img:hover{
        transform: scale(1.07);
    }

    .project-description{
        width: 500px;
        text-align: center;
        margin-inline: 30px;
        justify-items: center;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .descriptions-container{
        width: 100%;
        height: 200px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .skills-row{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: azure;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .skills-container{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 100px;      
        margin-top: 20px;  
    }

    .skill-box {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 10px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .skill-box img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    #r-logo{
        width: 200px;
        height: 230px;
        margin-right: 50px;
    }

    .footer-content{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: azure;
        background-color: #090e24;
        padding: 20px;
        margin-top: 40px;
        border-radius: 8px;
        justify-content: center;
        justify-items: center;
        text-decoration: none;
        background: linear-gradient(to top, #141743, #080e25);

    }

    .contacts h3{
        text-align: center;
        text-decoration: none;
        color: azure;
        font-size: 15px;
        margin-bottom: -10px;
    }